.custom-file {
    height: 80px;
    border: 1px solid #F66B0E;
width: 465px;
/* border: solid 1px; */
border-radius: 10px;
background: #FFFFFF;
border-radius: 10px;

}
.custom-file p {
color: #F66B0E;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;


color: #F66B0E;
}